:root {
  --primary-color: #449342;
  --hero-color: #edf5e1;
  --accent-color: #05386b;
  --buttons-color: #4bbe7e;
  --heading-font: "Playfair Display", serif;
  --text-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font);
  font-size: 96px;
  font-weight: bold;
  color: var(--primary-color);
}

h2 {
  font-family: var(--text-font);
  color: var(--accent-color);
}

h3 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--primary-color);
  font-size: 60px;
}

.hero {
  background-color: var(--hero-color);
  text-align: center;
  padding: 120px 20px;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 0;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.hero-about {
  padding: 120px 20px;
}

.hero-about p {
 font-size: 25px;
}

p {
  font-size: 30px;
  font-weight: normal;
  color: var(--accent-color);
  line-height: 1.5;
}

.details {
  font-size: 34px;
  font-weight: 300;
}

.hero p {
  margin-bottom: 0;
  font-weight: 900;
}

.btn-branding {
  font-size: 18px;
  border-radius: 4px;
  color: var(--hero-color);
  line-height: 27px;
  padding: 12px;
  background: var(--buttons-color);
  margin: 20px 0;
}
.btn-branding-outline {
  font-size: 18px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  line-height: 27px;
  padding: 20px 50px;
}


img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: auto;
}

.pic-about {
  width: 400px;

}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h3 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  
  .btn-branding-outline {
  font-size: 14px;
  padding: 8px 30px;
}
